
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background: #EFF0EA;
    color: #333;
}

.whatsapp-float {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 25px;   
  right: 25px;    
  background-color: #2b4958;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

.whatsapp-float img {
  width: 32px;
  height: 32px;
}

header {
    background: #4F85A3; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 60px;
    color: #EFF0EA;
}

header h1 {
    font-size: 35px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #EFF0EA;

    /* font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal; */


    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal; 
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
    color: #EFF0EA;
    transition: 0.3s;
}

nav a:hover {
    color: #2b4958;
    font-weight: 700;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    padding-top: 42px;
    background: #94C2D6;  
}

.hero-text {
    max-width: 60%;
}

.hero-text h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 900px;
    font-size: 50px;
    font-style: normal;  
    margin-bottom: 20px;
    color: #EFF0EA; 
    text-shadow: 3px 3px 25px #bdbcbc;
}

.hero-text h2 span {
    color: #4F85A3;
    font-weight: bolder;
    text-shadow: none;
}

.hero-text p {
    font-size: 18px;
    color: #EFF0EA;
    margin-bottom: 30px;
    line-height: 1.6;
    font-weight: 700;
    text-align: justify;
}

.btn {
    display: inline-block;
    background: #EFF0EA; 
    color: #2b4958;
    padding: 14px 34px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #2b4958;
    color: #EFF0EA;
}

.hero img {
    width: 510px;
}

.services {
    text-align: center;
    padding: 80px 60px;
    background: #EFF0EA;
}

.services h3 {
    font-size: 36px;
    margin-bottom: 50px;
    color: #94C2D6;
}

a {
    text-decoration: none;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    width: 280px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

.card .header_card {
    display: flex;
    justify-content: center;
}

.card .header_card .icon {
    height: 21px;
    margin: 3px 10px 0px 0px;
}

.card h4 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #4F85A3;
}

.card p {
    font-size: 15px;
    color: #555;
    text-align: center;
}

footer {
    text-align: center;
    padding: 25px;
    background: #4F85A3;
    color: #EFF0EA;
    font-size: 14px;
    margin-top: 40px;
}